{% extends 'ejemplo/base_operarios.html' %}

{%block titulo %}
Lista de operarios:<br>
{% endblock %}
{%block contenido%}
    <a href="/operarios/alta">Nuevo Operario</a><br>
    <a href="/operarios/buscar{{ operario.id }}">Buscar Operario</a>
    <ul>
    {% for operario in lista_operarios %}
        <li>
            <li> Nombre: {{operario.nombre}}, Legajo: {{operario.legajo}}, Categoria: {{operario.categoria}}, Observaciones: {{operario.observaciones}} </li>
        </li>
    {% endfor %}
    </ul>
{% endblock %}