<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Lista de operarios</h1>

    {% for operario in lista_operarios %}
        <ul>
            <li> Nombre: {{operario.nombre}}, Legajo: {{operario.legajo}}, Categoria: {{operario.categoria}}, Observaciones: {{operario.observaciones}} </li>
        </ul>
    {% endfor %}
    
</body>
</html>