{% extends 'ejemplo/base_pacientes.html' %}

{%block titulo %}
Lista de pacientes:<br>
{% endblock %}
{%block contenido%}
    <a href="/pacientes/alta">Nuevo Paciente</a><br>
    <a href="/pacientes/buscar{{ paciente.id }}">Buscar Paciente</a>
    <ul>
    {% for paciente in lista_pacientes %}
        <li>
            Id: {{paciente.id}}  Nombre: {{paciente.nombre}}, Tipo: {{paciente.tipo}}, Edad: {{paciente.edad}}, Observaciones: {{paciente.observaciones}}
        </li>
    {% endfor %}
    </ul>
{% endblock %}