<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Lista de pacientes</h1>

    {% for paciente in lista_pacientes %}
        <ul>
            <li> Nombre: {{paciente.nombre}}, Tipo: {{paciente.tipo}}, Edad: {{paciente.edad}}, Observaciones: {{paciente.observaciones}} </li>
        </ul>
    {% endfor %}
    
</body>
</html>