{% extends 'proyecto_final/base.html' %}

{% block contenido %}
{% if user.is_authenticated %}
    <a href="{% url 'pag_crear' %}">Crear Post</a><br><br>
{% endif %}
<ul>
    {% for post in object_list %}
        <li>
            {{post.titulo}} -- {{post.publicado_el}}
            {% if user.is_authenticated %}
                <a href="{% url 'pag_borrar' post.id %}">Borrar</a>
                <a href="{% url 'pag_actualizar' post.id %}">Actualizar</a>
            {% endif %}
            <a href="{% url 'pag_detalle' post.id %}">Ver</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}